Repository code-dot-org/code-dot-org, pull requests merged in 2021-01, with the labels that each got.

#37888 Make Pardot prospect deletion responsibility of Contact Rollups
  dashboard/app/models/contact_rollups_pardot_memory.rb
  dashboard/lib/contact_rollups_v2.rb
  dashboard/test/helpers/delete_accounts_helper_test.rb
  dashboard/test/lib/contact_rollups_v2_test.rb
  lib/cdo/delete_accounts_helper.rb
Labels: contact-rollups

#38371 Manually save intentionally-invalid test models
  dashboard/test/controllers/regional_partners_controller_test.rb
Labels: Rails 6

#38085 Make level ID required for level objects in React components
  apps/src/code-studio/components/BubbleChoice.jsx
  apps/src/code-studio/components/SublevelCard.jsx
  apps/src/code-studio/components/header/HeaderMiddle.jsx
  apps/src/code-studio/components/header/HeaderPopup.jsx
  apps/src/code-studio/components/progress/LessonProgress.jsx
  apps/src/code-studio/components/progress/SelectedStudentInfo.jsx
  apps/src/code-studio/components/progress/StudentTable.jsx
  apps/src/code-studio/components/progress/TeacherPanelProgressBubble.jsx
  apps/src/code-studio/header.js
  apps/src/code-studio/progress.js
  apps/src/code-studio/progressRedux.js
  apps/src/templates/FinishDialog.story.jsx
  apps/src/templates/lessonOverview/activities/ProgressionDetails.jsx
  apps/src/templates/progress/DetailProgressTable.story.jsx
  apps/src/templates/progress/LessonGroup.story.jsx
  apps/src/templates/progress/ProgressBubble.story.jsx
  apps/src/templates/progress/ProgressLegend.jsx
  apps/src/templates/progress/ProgressPill.story.jsx
  apps/src/templates/progress/progressHelpers.js
  apps/src/templates/progress/progressTestHelpers.js
  apps/src/templates/progress/progressTypes.js
  apps/src/templates/sectionProgress/detail/StudentProgressDetailCell.jsx
  apps/test/unit/code-studio/components/BubbleChoiceTest.js
  apps/test/unit/code-studio/components/progress/LessonProgressTest.js
  apps/test/unit/code-studio/components/progress/SelectedStudentInfoTest.jsx
  apps/test/unit/code-studio/components/progress/StudentTableTest.jsx
  apps/test/unit/code-studio/components/progress/TeacherPanelProgressBubbleTest.jsx
  apps/test/unit/code-studio/components/progress/TeacherPanelTest.jsx
  apps/test/unit/code-studio/progressReduxTest.js
  apps/test/unit/templates/lessonOverview/activities/ProgressionDetailsTest.jsx
  apps/test/unit/templates/progress/ProgressBubbleTest.js
  apps/test/unit/templates/progress/ProgressLevelSetTest.js
  apps/test/unit/templates/progress/ProgressPillTest.js
  dashboard/app/models/lesson.rb
  dashboard/app/models/levels/bubble_choice.rb
  dashboard/app/models/script_level.rb
  dashboard/app/views/layouts/_header.html.haml
  dashboard/test/models/levels/bubble_choice_test.rb
  dashboard/test/models/script_level_test.rb
Labels: progress-redux-refactor

#38531 Specify that TestCase transaction should not be lazy
  dashboard/test/testing/transactional_test_case.rb
Labels: Rails 6

#38576 Define test data association after persisting
  dashboard/test/models/vocabulary_test.rb
Labels: Rails 6

#38628 I18n sync In & Up 01/20
  dashboard/config/locales/blocks.en.yml
  i18n/locales/source/animations/spritelab_animation_library.json
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/spritelab.json
  i18n/locales/source/dashboard/base.yml
  i18n/locales/source/dashboard/blocks.yml
  i18n/locales/source/dashboard/data.yml
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/markdown/public/athome.md
Labels: i18n

#38697 I18n sync In & Up 01/22
  i18n/locales/source/animations/spritelab_animation_library.json
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/dashboard/scripts.yml
Labels: i18n

#38656 ProgressTableStudentList
  apps/src/templates/sectionProgress/progressTables/ProgressTableStudentList.jsx
  apps/src/templates/sectionProgress/progressTables/progressTableStyles.scss
  apps/test/unit/templates/sectionProgress/progressTables/ProgressTableStudentListTest.jsx
Labels: student progress

#38705 progressTableStyles
  apps/src/templates/sectionProgress/progressTables/progressTableStyles.scss
Labels: student progress

#38215 ProgressTableLessonNumber
  apps/src/templates/sectionProgress/SectionProgressLessonNumberCell.jsx
  apps/src/templates/sectionProgress/progressTables/ProgressTableLessonNumber.jsx
  apps/test/unit/templates/sectionProgress/progressTables/ProgressTableLessonNumberTest.jsx
  apps/test/unit/templates/sectionProgress/progressTables/ProgressTableStudentNameTest.jsx
Labels: student progress

#38762 Fix "annotate models" functionality for models in subdirectories
  dashboard/app/models/featured_project.rb
  dashboard/app/models/levels/ailab.rb
  dashboard/app/models/levels/applab.rb
  dashboard/app/models/levels/artist.rb
  dashboard/app/models/levels/blockly.rb
  dashboard/app/models/levels/bounce.rb
  dashboard/app/models/levels/bubble_choice.rb
  dashboard/app/models/levels/calc.rb
  dashboard/app/models/levels/contract_match.rb
  dashboard/app/models/levels/craft.rb
  dashboard/app/models/levels/curriculum_reference.rb
  dashboard/app/models/levels/dancelab.rb
  dashboard/app/models/levels/dsl_defined.rb
  dashboard/app/models/levels/eval.rb
  dashboard/app/models/levels/evaluation_multi.rb
  dashboard/app/models/levels/external.rb
  dashboard/app/models/levels/external_link.rb
  dashboard/app/models/levels/fish.rb
  dashboard/app/models/levels/flappy.rb
  dashboard/app/models/levels/free_response.rb
  dashboard/app/models/levels/frequency_analysis.rb
  dashboard/app/models/levels/gamelab.rb
  dashboard/app/models/levels/gamelab_jr.rb
  dashboard/app/models/levels/grid.rb
  dashboard/app/models/levels/karel.rb
  dashboard/app/models/levels/level.rb
  dashboard/app/models/levels/level_group.rb
  dashboard/app/models/levels/map.rb
  dashboard/app/models/levels/match.rb
  dashboard/app/models/levels/maze.rb
  dashboard/app/models/levels/multi.rb
  dashboard/app/models/levels/net_sim.rb
  dashboard/app/models/levels/odometer.rb
  dashboard/app/models/levels/pixelation.rb
  dashboard/app/models/levels/public_key_cryptography.rb
  dashboard/app/models/levels/standalone_video.rb
  dashboard/app/models/levels/star_wars_grid.rb
  dashboard/app/models/levels/studio.rb
  dashboard/app/models/levels/studio_ec.rb
  dashboard/app/models/levels/text_compression.rb
  dashboard/app/models/levels/text_match.rb
  dashboard/app/models/levels/unplugged.rb
  dashboard/app/models/levels/vigenere.rb
  dashboard/app/models/levels/weblab.rb
  dashboard/app/models/levels/widget.rb
  dashboard/config/application.rb
  dashboard/lib/tasks/auto_annotate_models.rake
Labels: hackathon

#38765 I18n sync In & Up 01/27
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/spritelab.json
  i18n/locales/source/course_content/2020/coursed-2020.json
  i18n/locales/source/course_content/2020/coursee-2020.json
  i18n/locales/source/course_content/2020/coursef-2020.json
  i18n/locales/source/course_content/2020/express-2020.json
  i18n/locales/source/course_content/other/outbreak.json
  i18n/locales/source/dashboard/base.yml
  i18n/locales/source/dashboard/scripts.yml
Labels: i18n
