Repository code-dot-org/code-dot-org, pull requests merged in 2021-09, with the labels that each got.

#42418 I18n sync In & Up 09/10
  dashboard/config/locales/blocks.en.yml
  i18n/locales/source/animations/spritelab_animation_library.json
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/javalab.json
  i18n/locales/source/blockly-mooc/spritelab.json
  i18n/locales/source/course_content/other/outbreak.json
  i18n/locales/source/dashboard/base.yml
  i18n/locales/source/dashboard/blocks.yml
  i18n/locales/source/dashboard/data.yml
  i18n/locales/source/dashboard/progressions.yml
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/dashboard/shared_functions.yml
  i18n/locales/source/markdown/public/curriculum/unplugged.md
Labels: i18n

#42572 I18n sync In & Up 09/20
  dashboard/config/locales/blocks.en.yml
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/javalab.json
  i18n/locales/source/blockly-mooc/spritelab.json
  i18n/locales/source/dashboard/blocks.yml
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/activity-guidelines.md
  i18n/locales/source/hourofcode/en.yml
Labels: i18n

#42597 Fixtures to Factories: Final Fixes
  dashboard/test/controllers/levels_controller_test.rb
  dashboard/test/helpers/script_levels_helper_test.rb
  dashboard/test/test_helper.rb
Labels: fixtures-to-factories

#42675 Set reason field as required in delete progress form
  dashboard/app/views/admin_users/delete_progress_form.html.haml
Labels: reset progress

#42714 I18n sync In & Up 09/28
  dashboard/config/locales/blocks.en.yml
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/javalab.json
  i18n/locales/source/blockly-mooc/poetry.json
  i18n/locales/source/blockly-mooc/spritelab.json
  i18n/locales/source/course_content/2021/coursef-2021.json
  i18n/locales/source/course_content/other/hello-world-animals.json
  i18n/locales/source/course_content/other/hello-world-emoji.json
  i18n/locales/source/course_content/other/hello-world-food.json
  i18n/locales/source/course_content/other/hello-world-retro.json
  i18n/locales/source/course_content/other/outbreak.json
  i18n/locales/source/dashboard/blocks.yml
  i18n/locales/source/dashboard/scripts.yml
Labels: i18n

#42739 Add more validation for programming expression keys
  dashboard/app/models/programming_expression.rb
  dashboard/test/models/programming_expression_test.rb
Labels: code-docs-part-2
