Repository code-dot-org/code-dot-org, pull requests merged in 2021-04, with the labels that each got.

#39794 add support to expand first or all standards within a framework
  apps/src/templates/courseRollupPages/RollupLessonEntrySection.jsx
  apps/src/templates/lessonOverview/LessonOverview.jsx
  apps/src/templates/lessonOverview/LessonStandards.jsx
  apps/src/templates/lessonOverview/LessonStandards.story.jsx
  apps/test/unit/templates/lessonOverview/LessonStandardsTest.js
Labels: lesson-standards

#39889 I18n sync In & Up 04/05
  i18n/locales/source/animations/spritelab_animation_library.json
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/spritelab.json
  i18n/locales/source/course_content/other/outbreak.json
  i18n/locales/source/dashboard/data.yml
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/pegasus/mobile.yml
Labels: i18n

#39910 Finalize standards UI
  apps/src/templates/lessonOverview/LessonStandards.jsx
  apps/test/unit/templates/lessonOverview/LessonStandardsTest.js
Labels: lesson-standards

#39913 add Full Course Alignment button to lesson plan page
  apps/i18n/common/en_us.json
  apps/src/templates/lessonOverview/LessonOverview.jsx
  apps/src/templates/lessonOverview/LessonStandards.jsx
  apps/src/templates/lessonOverview/LessonStandards.story.jsx
  apps/src/templates/lessonOverview/lessonPlanShapes.jsx
  apps/test/unit/templates/lessonOverview/LessonStandardsTest.js
  dashboard/app/models/course_version.rb
  dashboard/app/models/lesson.rb
  dashboard/test/models/lesson_test.rb
Labels: lesson-standards

#40025 I18n sync In & Up 04/12
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/course_content/2020/coursee-2020.json
  i18n/locales/source/course_content/2020/coursef-2020.json
  i18n/locales/source/course_content/2020/express-2020.json
  i18n/locales/source/course_content/other/outbreak.json
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/dashboard/variable_names.yml
  i18n/locales/source/hourofcode/en.yml
  i18n/locales/source/pegasus/mobile.yml
Labels: i18n

#40137 Update SETUP.md
  SETUP.md
Labels: infrastructure, testing

#40287 2019-2020 NCES import
  bin/oneoff/nces_data/import_school_stats_by_years_2019_2020_ccd
  dashboard/app/models/school.rb
  dashboard/app/models/school_district.rb
  dashboard/app/models/school_stats_by_year.rb
  dashboard/test/models/school_test.rb
Labels: data, infrastructure, professional-learning, ruby
