Repository code-dot-org/code-dot-org, pull requests merged in 2023-10, with the labels that each got.

#54030 I18n sync In & Up 10/02
  dashboard/config/locales/blocks.en.yml
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/course_content/2023/csd2-2023.json
  i18n/locales/source/course_content/2023/csd3-2023.json
  i18n/locales/source/dashboard/blocks.yml
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/courses.yml
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
  i18n/locales/source/hourofcode/promote/proclamation.md
Labels: i18n

#54057 Fix Violations of and Reenable `Style/HashConversion`
  .rubocop_todo.yml
  bin/animation_assets/manifest_builder.rb
  bin/cron/hoc_signup_counts
  dashboard/app/controllers/admin_reports_controller.rb
  dashboard/app/helpers/users_helper.rb
  dashboard/app/models/foorm/form.rb
  dashboard/app/models/foorm/submission.rb
  dashboard/app/models/paired_user_level.rb
  dashboard/app/models/pd/international_opt_in.rb
  dashboard/app/models/user.rb
  dashboard/lib/core_extensions.rb
  dashboard/lib/level_loader.rb
  dashboard/lib/tasks/seed.rake
  dashboard/scripts/archive/backfill_user_level_script_ids
  dashboard/scripts/archive/block_docs_to_i18n
  dashboard/test/controllers/api/v1/pd/workshop_survey_report_controller_test.rb
  lib/cdo/shared_constants/pd/principal_approval_application_constants.rb
  tools/scripts/rebuildSoundLibraryManifest.rb
Labels: code-hygiene

#54121 Add an external link icon class for text links on code.org
  pegasus/sites.v3/code.org/public/accessibility.haml
  pegasus/sites.v3/code.org/public/administrators.haml
  pegasus/sites.v3/code.org/public/ai/index.haml
  pegasus/sites.v3/code.org/public/ai/pl/101/index.haml
  pegasus/sites.v3/code.org/public/blockchain.haml
  pegasus/sites.v3/code.org/public/css/page/help-styles.scss
  pegasus/sites.v3/code.org/public/donate/index.haml
  pegasus/sites.v3/code.org/public/educate/csa.haml
  pegasus/sites.v3/code.org/public/educate/professional-development-online.haml
  pegasus/sites.v3/code.org/public/educate/professional-learning/middle-high.haml
  pegasus/sites.v3/code.org/public/farsi.haml
  pegasus/sites.v3/code.org/public/help.haml
  pegasus/sites.v3/code.org/public/maker/circuitplayground.haml
  pegasus/sites.v3/code.org/public/maker/index.haml
  pegasus/sites.v3/code.org/public/maker/microbit.haml
  pegasus/sites.v3/code.org/styles_min/040-page.css
  pegasus/sites.v3/code.org/views/ai_101_videos.haml
  pegasus/sites.v3/code.org/views/faq_csd.haml
  pegasus/sites.v3/code.org/views/help/help_page_spread_the_word.haml
  pegasus/sites.v3/code.org/views/support_and_questions_section.haml
  pegasus/sites.v3/code.org/views/tabs_section/donate/donate_tabs.haml
  pegasus/sites.v3/code.org/views/tabs_section/resources/resources_tabs_content_slides.haml
Labels: accessibility

#54117 I18n sync In & Up 10/09
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/course_content/2017/csd2-2017.json
  i18n/locales/source/course_content/2017/csd4-2017.json
  i18n/locales/source/course_content/2017/csd6-2017.json
  i18n/locales/source/course_content/2018/csd2-2018.json
  i18n/locales/source/course_content/2018/csd4-2018.json
  i18n/locales/source/course_content/2018/csd5-2018.json
  i18n/locales/source/course_content/2018/csd6-2018.json
  i18n/locales/source/course_content/2019/csd2-2019.json
  i18n/locales/source/course_content/2019/csd4-2019.json
  i18n/locales/source/course_content/2019/csd5-2019.json
  i18n/locales/source/course_content/2019/csd6-2019.json
  i18n/locales/source/course_content/2021/csd6-2021.json
  i18n/locales/source/course_content/2022/csd1-2022.json
  i18n/locales/source/course_content/2022/csd2-2022.json
  i18n/locales/source/course_content/2022/csd4-2022.json
  i18n/locales/source/course_content/2022/csd5-2022.json
  i18n/locales/source/course_content/2022/csd7-2022.json
  i18n/locales/source/course_content/2022/express-2022.json
  i18n/locales/source/course_content/2023/csc-bookcovers-2023.json
  i18n/locales/source/course_content/2023/csd1-2023.json
  i18n/locales/source/course_content/2023/csd4-2023.json
  i18n/locales/source/course_content/2023/csd5-2023.json
  i18n/locales/source/course_content/2023/csd6a-2023.json
  i18n/locales/source/course_content/2023/csd7-2023.json
  i18n/locales/source/course_content/2023/how-ai-works-2023.json
  i18n/locales/source/course_content/Hour of Code/applab-intro.json
  i18n/locales/source/course_content/other/allthethings.json
  i18n/locales/source/course_content/other/applab-1hour.json
  i18n/locales/source/course_content/other/applab-2hour.json
  i18n/locales/source/course_content/other/csd1-2021.json
  i18n/locales/source/course_content/other/csd2-2021.json
  i18n/locales/source/course_content/other/csd4-2021.json
  i18n/locales/source/course_content/other/csd5-2021.json
  i18n/locales/source/course_content/other/csd6-2022.json
  i18n/locales/source/course_content/other/csd6b-2023.json
  i18n/locales/source/course_content/other/csd7-2021.json
  i18n/locales/source/dashboard/base.yml
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/courses.yml
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
Labels: i18n

#54101 Remove Temporary `.level` File Reorganization Code
  bin/oneoff/reorganize_level_files.rb
  dashboard/config/levels/custom/craft/...Runs through it..level
  dashboard/lib/policies/level_files.rb
  dashboard/lib/services/level_files.rb
  dashboard/test/lib/policies/level_files_test.rb
  dashboard/test/lib/services/level_files_test.rb
Labels: code-hygiene

#54251 I18n sync In & Up 10/16
  dashboard/config/locales/blocks.en.yml
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/dance.json
  i18n/locales/source/blockly-mooc/tutorialExplorer.json
  i18n/locales/source/course_content/2023/csd7-2023.json
  i18n/locales/source/dashboard/blocks.yml
  i18n/locales/source/dashboard/courses.yml
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
  i18n/locales/source/hourofcode/how-to/afterschool.md
  i18n/locales/source/hourofcode/how-to/volunteers.md
Labels: i18n

#54240 Remove Some Unused Test Helper Methods
  dashboard/test/controllers/api/v1/pd/workshop_attendance_controller_test.rb
Labels: code-hygiene

#54269 Update to Ubuntu 20 in Production: Part 1 of 3 (`production-console`)
  aws/cloudformation/cloud_formation_stack.yml.erb
Labels: Ubuntu Update

#54271 Update to Ubuntu 20 in Production: Part 2 of 3 (`production-daemon`)
  aws/cloudformation/cloud_formation_stack.yml.erb
  cookbooks/cdo-apps/templates/default/crontab.erb
Labels: Ubuntu Update

#54272 Update to Ubuntu 20 in Production: Part 3 of 3 (`ami-builder`)
  aws/cloudformation/cloud_formation_stack.yml.erb
  cookbooks/cdo-apps/templates/default/crontab.erb
  lib/cdo/cloud_formation/cdo_app.rb
Labels: Ubuntu Update

#54407 I18n sync In & Up 10/23
  dashboard/config/locales/blocks.en.yml
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/course_content/2023/csc-bookcovers-2023.json
  i18n/locales/source/dashboard/blocks.yml
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/data.yml
  i18n/locales/source/dashboard/marketing_announcements.json
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
  i18n/locales/source/hourofcode/how-to/companies.md
  i18n/locales/source/hourofcode/how-to/index.md
  i18n/locales/source/hourofcode/how-to/volunteers.md
Labels: i18n

#54462 I18n sync In & Up 10/24
  dashboard/config/locales/blocks.en.yml
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/dance.json
  i18n/locales/source/dashboard/blocks.yml
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/courses.yml
  i18n/locales/source/dashboard/data.yml
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
Labels: i18n

#54536 I18n sync In & Up 10/27
  dashboard/config/locales/blocks.en.yml
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/dashboard/blocks.yml
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
  i18n/locales/source/pegasus/mobile.yml
Labels: i18n

#54567 I18n sync In & Up 10/30
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/dance.json
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
Labels: i18n
