Repository code-dot-org/code-dot-org, pull requests merged in 2023-11, with the labels that each got.

#54191 fix a few more violations of Style/OptionalBooleanParameter
  bin/cron/csf_workshop_attendance_to_gdrive
  dashboard/app/controllers/api/v1/pd/teacher_attendance_report_controller.rb
  dashboard/app/controllers/api/v1/pd/workshop_summary_report_controller.rb
  dashboard/app/controllers/api/v1/teacher_feedbacks_controller.rb
  dashboard/app/controllers/script_levels_controller.rb
  dashboard/app/models/concerns/text_to_speech.rb
  dashboard/app/models/concerns/unit/text_to_speech.rb
  dashboard/app/models/contact_rollups_pardot_memory.rb
  dashboard/app/models/foorm/form.rb
  dashboard/app/models/levels/bubble_choice.rb
  dashboard/app/models/levels_script_level.rb
  dashboard/app/models/pd/workshop.rb
  dashboard/app/models/school_district.rb
  dashboard/app/models/script_level.rb
  dashboard/app/models/unit.rb
  dashboard/app/models/user_level.rb
  dashboard/lib/pd/payment/teacher_summary.rb
  dashboard/lib/pd/payment/workshop_summary.rb
  dashboard/lib/projects_list.rb
  dashboard/lib/services/script_seed.rb
  dashboard/test/controllers/api/v1/teacher_feedbacks_controller_test.rb
  dashboard/test/controllers/lti_v1_controller_test.rb
  dashboard/test/lib/projects_list_test.rb
  dashboard/test/models/pd/workshop_test.rb
  dashboard/test/models/script_level_test.rb
  dashboard/test/models/user_level_test.rb
  dashboard/test/ui/features/step_definitions/progress.rb
  dashboard/test/ui/features/support/connect.rb
  dashboard/test/ui/runner.rb
  dashboard/test/ui/utils/selenium_browser.rb
  lib/cdo.rb
  lib/cdo/aws/s3.rb
  lib/cdo/buffer.rb
  lib/cdo/contact_rollups/v2/pardot.rb
  lib/cdo/log_collector.rb
  lib/cdo/slack.rb
  lib/cdo/video/youtube.rb
  lib/test/cdo/contact_rollups/test_pardot_v2.rb
  lib/test/test_cdo.rb
  pegasus/sites.v3/hourofcode.com/public/learn/index.haml
Labels: code-hygiene

#54715 I18n sync In & Up 11/06
  dashboard/config/locales/blocks.en.yml
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/dance.json
  i18n/locales/source/course_content/2023/csd3-2023.json
  i18n/locales/source/course_content/2023/csd6a-2023.json
  i18n/locales/source/dashboard/blocks.yml
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/marketing_announcements.json
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
  i18n/locales/source/markdown/public/athome.md
Labels: i18n

#54777 I18n sync In & Up 11/08
  i18n/locales/source/blockly-mooc/dance.json
  i18n/locales/source/course_content/2023/csd3-2023.json
  i18n/locales/source/course_content/2023/dance-ai-2023.json
  i18n/locales/source/dashboard/progressions.yml
  i18n/locales/source/hourofcode/en.yml
  i18n/locales/source/hourofcode/thanks.md
Labels: i18n

#54844 I18n sync In & Up 11/10
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/dance.json
  i18n/locales/source/dashboard/base.yml
  i18n/locales/source/hourofcode/en.yml
  i18n/locales/source/hourofcode/thanks.md
Labels: i18n

#54854 I18n sync In & Up 11/13
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/courses.yml
  i18n/locales/source/dashboard/progressions.yml
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
Labels: i18n

#54955 I18n sync In & Up 11/15
  dashboard/config/locales/blocks.en.yml
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/dance.json
  i18n/locales/source/course_content/2023/csd2-2023.json
  i18n/locales/source/dashboard/blocks.yml
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
Labels: i18n

#55044 I18n sync In & Up 11/18
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/data.yml
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
  i18n/locales/source/pegasus/mobile.yml
Labels: i18n

#55049 I18n sync In & Up 11/20
  i18n/locales/source/course_content/2023/coursee-2023.json
  i18n/locales/source/course_content/2023/express-2023.json
  i18n/locales/source/hourofcode/promote/resources.md
Labels: i18n

#54601 Add an ElastiCache Layer to Dynamic Config
  dashboard/test/lib/datastore_cache_test.rb
  dashboard/test/lib/dcdo_test.rb
  lib/cdo/app_server_hooks.rb
  lib/cdo/shared_cache.rb
  lib/dynamic_config/adapters/json_file_adapter.rb
  lib/dynamic_config/adapters/memory_adapter.rb
  lib/dynamic_config/datastore_cache.rb
  lib/dynamic_config/dcdo.rb
  lib/dynamic_config/dynamic_config_base.rb
  lib/dynamic_config/environment_aware_dynamic_config_helper.rb
Labels: bug-fix, Ruby Update

#55148 I18n sync In & Up 11/27
  dashboard/config/locales/blocks.en.yml
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/course_content/2023/csd7-2023.json
  i18n/locales/source/dashboard/base.yml
  i18n/locales/source/dashboard/blocks.yml
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/data.yml
  i18n/locales/source/dashboard/marketing_announcements.json
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
Labels: i18n

#55233 I18n sync In & Up 11/30
  i18n/locales/source/animations/spritelab_animation_library.json
  i18n/locales/source/course_content/2023/csd6a-2023.json
  i18n/locales/source/dashboard/blocks.yml
  i18n/locales/source/dashboard/courses.yml
  i18n/locales/source/dashboard/data.yml
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
Labels: i18n
