Repository code-dot-org/code-dot-org, pull requests merged in 2024-11, with the labels that each got.

#62172 I18n sync In & Up 10/31
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/music.json
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/marketing_announcements.json
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
Labels: i18n

#62202 New sign up is keyboard navigable and has all labels for screen reader!
  apps/src/signUpFlow/LoginTypeSelection.tsx
  apps/test/unit/signUpFlow/LoginTypeSelectionTest.tsx
Labels: accessibility

#62235 I18n sync In & Up 11/04
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/signup.json
  i18n/locales/source/course_content/2023/csd2-2024.json
  i18n/locales/source/hourofcode/en.yml
Labels: i18n

#62293 I18n sync In & Up 11/06
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/music.json
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/courses.yml
  i18n/locales/source/dashboard/data.yml
  i18n/locales/source/dashboard/scripts.yml
Labels: i18n

#62462 I18n sync In & Up 11/15
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/course_content/2023/csd2-2024.json
  i18n/locales/source/course_content/other/netsim.json
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/courses.yml
  i18n/locales/source/dashboard/marketing_announcements.json
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
Labels: i18n

#62501 I18n sync In & Up 11/18
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/dashboard/base.yml
  i18n/locales/source/dashboard/data.yml
Labels: i18n

#62480 Fix Violations of and Reenable `Lint/SymbolConversion`
  .config/rubocop/todo.yml
  bin/oneoff/drop_temp_views_from_pegasus
  bin/oneoff/move_storage_apps_to_dashboard
  bin/oneoff/move_user_storage_ids_to_dashboard.rb
  dashboard/app/controllers/foorm/simple_survey_forms_controller.rb
  dashboard/app/controllers/projects_controller.rb
  dashboard/app/controllers/regional_partners_controller.rb
  dashboard/app/controllers/sms_controller.rb
  dashboard/app/models/pd/application/application_base.rb
  dashboard/app/models/pd/application/principal_approval_application.rb
  dashboard/app/models/pd/application/teacher_application.rb
  dashboard/app/models/script_level.rb
  dashboard/app/serializers/api/v1/pd/enrollment_flat_attendance_serializer.rb
  dashboard/lib/pd/payment/workshop_summary.rb
  dashboard/lib/projects_list.rb
  dashboard/test/factories/pd_factories.rb
  dashboard/test/mailers/previews/pd_teacher_application_mailer_preview.rb
  dashboard/test/models/course_offering_test.rb
  lib/cdo/aws/cloud_formation.rb
  lib/cdo/contact_rollups/v2/pardot.rb
  lib/forms/pegasus_form_validation.rb
  pegasus/src/database.rb
Labels: code-hygiene

#62677 I18n sync In & Up 11/26
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/course_content/2024/music-intro-2024.json
  i18n/locales/source/course_content/other/music-onboard.json
  i18n/locales/source/dashboard/base.yml
  i18n/locales/source/dashboard/courses.yml
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
  i18n/locales/source/pegasus/mobile.json
Labels: i18n

#62681 I18n sync In & Up 11/26
  i18n/locales/source/course_content/Hour of Code/music-jam-2024.json
Labels: i18n

#62698 Simplify Session Store `pool_size` Config
  dashboard/config/initializers/session_store.rb
  lib/cdo/rack/request.rb
Labels: code-hygiene

#62711 I18n sync In & Up 11/27
  dashboard/config/locales/blocks.en.yml
  i18n/locales/source/course_content/2023/csd2-2024.json
  i18n/locales/source/dashboard/blocks.yml
  i18n/locales/source/hourofcode/en.yml
Labels: i18n

#62749 I18n sync In & Up 11/30
  i18n/locales/source/dashboard/scripts.yml
Labels: i18n
