Repository code-dot-org/code-dot-org, pull requests merged in 2024-08, with the labels that each got.

#60182 Remove Stray Temporary Comment
  lib/rake/ci.rake
Labels: code-hygiene

#60199 I18n sync In & Up 08/05
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/course_content/2021/coursee-2021.json
  i18n/locales/source/course_content/2021/express-2021.json
  i18n/locales/source/course_content/2022/coursec-2022.json
  i18n/locales/source/course_content/2022/coursee-2022.json
  i18n/locales/source/course_content/2022/coursef-2022.json
  i18n/locales/source/course_content/2022/express-2022.json
  i18n/locales/source/course_content/2023/coursec-2023.json
  i18n/locales/source/course_content/2023/coursee-2023.json
  i18n/locales/source/course_content/2023/coursef-2023.json
  i18n/locales/source/course_content/2023/csc-adaptations-2023.json
  i18n/locales/source/course_content/2023/csc-bookcovers-2023.json
  i18n/locales/source/course_content/2023/csc-ecosystems-2023.json
  i18n/locales/source/course_content/2023/csc-mappinglandmarks-2023.json
  i18n/locales/source/course_content/2023/csc-starquilts-2023.json
  i18n/locales/source/course_content/2023/express-2023.json
  i18n/locales/source/course_content/Hour of Code/hello-world-soccer-2022.json
  i18n/locales/source/course_content/Hour of Code/hello-world-space-2022.json
  i18n/locales/source/course_content/other/allthethings.json
  i18n/locales/source/course_content/other/course1.json
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/courses.yml
  i18n/locales/source/dashboard/marketing_announcements.json
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/dashboard/variable_names.yml
  i18n/locales/source/hourofcode/en.yml
Labels: i18n

#60353 I18n sync In & Up 08/12
  i18n/locales/source/blockly-mooc/codebridge.json
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/lab2.json
  i18n/locales/source/blockly-mooc/music.json
  i18n/locales/source/blockly-mooc/signup.json
  i18n/locales/source/dashboard/base.yml
  i18n/locales/source/dashboard/courses.yml
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
Labels: i18n

#60491 I18n sync In & Up 08/19
  dashboard/config/locales/blocks.en.yml
  i18n/locales/source/blockly-mooc/codebridge.json
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/signup.json
  i18n/locales/source/course_content/other/k5-unplugged.json
  i18n/locales/source/dashboard/base.yml
  i18n/locales/source/dashboard/blocks.yml
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/courses.yml
  i18n/locales/source/dashboard/marketing_announcements.json
  i18n/locales/source/dashboard/progressions.yml
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
  i18n/locales/source/hourofcode/promote/resources.md
Labels: i18n

#60546 Ruby 3.3.4: pre-upgrade everything that can apply to Ruby 3.0.5 too
  .rubocop.yml
  .rubocop_new.yml
  .rubocop_todo.yml
  Gemfile
  Gemfile.lock
  SETUP.md
  apps/script/generateSharedConstants.rb
  cookbooks/Gemfile
  cookbooks/Gemfile.lock
  cookbooks/cdo-ruby/.kitchen.yml
  cookbooks/cdo-ruby/test/integration/default/inspec/ruby_spec.rb
  cookbooks/cdo-ruby/test/shared/helper_spec.rb
  dashboard/app/models/lesson_group.rb
  dashboard/config/honeybadger.yml
  dashboard/legacy/middleware/helpers/profanity_privacy_helper.rb
  dashboard/test/integration/honeybadger_test.rb
  lib/cdo/aws/cloud_formation.rb
  lib/cdo/yaml.rb
  pegasus/honeybadger.yml
  pegasus/sites/all/views/page.haml
  pegasus/test/fixtures/fake_dashboard.rb
Labels: Ruby Update

#60750 I18n sync In & Up 08/29
  i18n/locales/source/blockly-mooc/codebridge.json
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/music.json
  i18n/locales/source/blockly-mooc/signup.json
  i18n/locales/source/course_content/2023/csd2-2024.json
  i18n/locales/source/course_content/other/allthethings.json
  i18n/locales/source/course_content/other/self-paced-pl-k5-2024.json
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/courses.yml
  i18n/locales/source/dashboard/data.yml
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
  i18n/locales/source/hourofcode/promote/resources.md
Labels: i18n
