Repository code-dot-org/code-dot-org, pull requests merged in 2024-06, with the labels that each got.

#56386 Add Ability to Install MySQL 8.0 with Chef
  cookbooks/cdo-mysql/attributes/default.rb
  cookbooks/cdo-mysql/recipes/client.rb
  cookbooks/cdo-mysql/recipes/repo.rb
  cookbooks/cdo-mysql/recipes/server.rb
  cookbooks/cdo-mysql/templates/default/proxysql.cnf.erb
  cookbooks/cdo-mysql/test/cookbooks/test-mysql/recipes/readwrite.rb
  cookbooks/cdo-mysql/test/integration/default/serverspec/ruby_spec.rb
  dashboard/config/database.yml
  dashboard/lib/contact_rollups_v2.rb
  pegasus/helper_modules/forms.rb
  pegasus/helper_modules/hoc_event_review.rb
  tools/hooks/scary_changes.rb
Labels: MySQL Upgrade

#56385 Install MySQL 8 in Docker
  .drone.yml
  docker/dockerfiles/Dockerfile
  docker/setup-compose.yml
  docker/site-compose.yml
  docker/ui-tests-compose.yml
  docker/unit-tests-compose.yml
Labels: MySQL Upgrade

#59084 I18n sync In & Up 06/05
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/course_content/2023/csd6a-2023.json
  i18n/locales/source/course_content/other/allthethings.json
  i18n/locales/source/dashboard/base.yml
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/courses.yml
  i18n/locales/source/dashboard/marketing_announcements.json
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
  i18n/locales/source/pegasus/mobile.yml
Labels: i18n

#59167 Default to MySQL 8 in Chef
  cookbooks/cdo-mysql/attributes/default.rb
Labels: MySQL Upgrade

#59191 Update MySQL to 8.0.37
  cookbooks/cdo-mysql/recipes/client.rb
  cookbooks/cdo-mysql/recipes/server.rb
  cookbooks/cdo-mysql/templates/default/proxysql.cnf.erb
Labels: MySQL Upgrade

#59223 Use `template` EnforcedStyle for `Style/FormatStringToken`
  .rubocop.yml
  .rubocop_todo.yml
Labels: code-hygiene

#59280 Update Chef URL's for chef saas migration
  .chef/knife.rb
  aws/chef-bootstrap.sh
  config.yml.erb
  cookbooks/cdo-users/templates/default/chef_knife.rb.erb
Labels: Chef Upgrade

#59286 Apply `chef-saas` Changes on a Per-Environment Basis
  .chef/knife.rb
  config.yml.erb
  cookbooks/cdo-users/templates/default/chef_knife.rb.erb
Labels: Chef Upgrade

#59287 Fix "Apply `chef-saas` Changes on a Per-Environment Basis"
  .chef/knife.rb
Labels: Chef Upgrade

#59262 I18n sync In & Up 06/18
  i18n/locales/source/blockly-mooc/aichat.json
  i18n/locales/source/blockly-mooc/codebridge.json
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/course_content/other/allthethings.json
  i18n/locales/source/dashboard/base.yml
  i18n/locales/source/dashboard/marketing_announcements.json
  i18n/locales/source/hourofcode/en.yml
Labels: i18n

#59289 Apply `chef-saas` Migration to Test Server
  .chef/knife.rb
  config.yml.erb
  cookbooks/cdo-users/templates/default/chef_knife.rb.erb
Labels: Chef Upgrade

#59408 I18n sync In & Up 06/26
  i18n/locales/source/blockly-mooc/aichat.json
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/course_content/2018/K5-OnlinePD.json
  i18n/locales/source/course_content/2019/k5-onlinepd-2019.json
  i18n/locales/source/course_content/2021/kodea-pd-2021.json
  i18n/locales/source/course_content/2023/dance-ai-2023.json
  i18n/locales/source/course_content/Hour of Code/dance-ai-2023.json
  i18n/locales/source/course_content/Hour of Code/outbreak.json
  i18n/locales/source/course_content/Hour of Code/pixelation.json
  i18n/locales/source/course_content/other/Hour of Code.json
  i18n/locales/source/course_content/other/allthethings.json
  i18n/locales/source/course_content/other/course1.json
  i18n/locales/source/dashboard/base.yml
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/courses.yml
  i18n/locales/source/dashboard/data.yml
  i18n/locales/source/dashboard/marketing_announcements.json
  i18n/locales/source/dashboard/scripts.yml
  i18n/locales/source/hourofcode/en.yml
Labels: i18n

#58049 chore(ejs): enable ejs javascript strict mode to remove `with` syntax
  apps/package.json
  apps/src/blockTooltips/DropletParameterTooltip.html.ejs
  apps/src/craft/code-connection/dialogs/connectToCodeConnection.html.ejs
  apps/src/craft/code-connection/dialogs/errorMessage.html.ejs
  apps/src/craft/simple/dialogs/houseSelection.html.ejs
  apps/src/maze/karelStartBlocks.xml.ejs
  apps/src/maze/startBlocks.xml.ejs
  apps/src/maze/toolboxes/karel1.xml.ejs
  apps/src/maze/toolboxes/karel2.xml.ejs
  apps/src/maze/toolboxes/karel3.xml.ejs
  apps/src/maze/toolboxes/maze.xml.ejs
  apps/src/netsim/NetSimAlert.html.ejs
  apps/src/netsim/NetSimBitLogPanel.html.ejs
  apps/src/netsim/NetSimDnsTable.html.ejs
  apps/src/netsim/NetSimMetronome.html.ejs
  apps/src/netsim/NetSimPanel.html.ejs
  apps/src/netsim/NetSimRemoteNodeSelectionPanel.html.ejs
  apps/src/netsim/NetSimRouterStatsTable.html.ejs
  apps/src/netsim/NetSimShardSelectionPanel.html.ejs
  apps/src/netsim/NetSimSlider.html.ejs
  apps/src/netsim/NetSimStatusPanel.html.ejs
  apps/src/netsim/NetSimTabsComponent.html.ejs
  apps/src/netsim/NetSimVisualization.html.ejs
  apps/src/netsim/page.html.ejs
  apps/src/templates/export/fontAwesome.css.ejs
  apps/src/templates/export/gamelabCode.js.ejs
  apps/src/templates/export/gamelabIndex.html.ejs
  apps/src/templates/export/project.html.ejs
  apps/src/templates/export/projectReadme.md.ejs
  apps/src/templates/learn.html.ejs
  apps/src/templates/makeYourOwn.html.ejs
  apps/src/templates/puzzleRating.html.ejs
  apps/src/templates/shareFailure.html.ejs
  apps/src/templates/sharing.html.ejs
  apps/src/turtle/startBlocks.xml.ejs
  apps/src/turtle/toolbox.xml.ejs
  apps/test/unit/empty-data.ejs
  apps/webpack.config.js
  apps/yarn.lock
Labels: eng-excellence

#59433 Enable Eslint `import/order` For `fish`, `flappy`, and `publicKeyCryptography`
  apps/.eslintrc.js
  apps/src/fish/Fish.js
  apps/src/fish/FishView.jsx
  apps/src/fish/locale-do-not-import.js
  apps/src/fish/locale.js
  apps/src/flappy/FlappyVisualizationColumn.jsx
  apps/src/flappy/blocks.js
  apps/src/flappy/flappy.js
  apps/src/flappy/levels.js
  apps/src/flappy/locale.js
  apps/src/publicKeyCryptography/Alice.jsx
  apps/src/publicKeyCryptography/AliceInstructions.jsx
  apps/src/publicKeyCryptography/Bob.jsx
  apps/src/publicKeyCryptography/BobInstructions.jsx
  apps/src/publicKeyCryptography/CharacterPanel.jsx
  apps/src/publicKeyCryptography/EqualColumns.jsx
  apps/src/publicKeyCryptography/Eve.jsx
  apps/src/publicKeyCryptography/EveInstructions.jsx
  apps/src/publicKeyCryptography/IntegerDropdown.jsx
  apps/src/publicKeyCryptography/IntegerTextbox.jsx
  apps/src/publicKeyCryptography/ModuloClock.jsx
  apps/src/publicKeyCryptography/ModuloClockWidget.jsx
  apps/src/publicKeyCryptography/NumberedSteps.jsx
  apps/src/publicKeyCryptography/PublicKeyCryptographyWidget.jsx
  apps/src/publicKeyCryptography/StartOverButton.jsx
  apps/src/publicKeyCryptography/ValidatorField.jsx
  apps/src/publicKeyCryptography/cryptographyFields.jsx
  apps/src/publicKeyCryptography/main.js
Labels: code-hygiene

#59184 Update `chef_client_updater` Cookbook to >= 3.12.0
  cookbooks/Berksfile
Labels: Chef Upgrade

#59456 Remove `old_ie` View
  pegasus/sites.v3/code.org/views/old_ie.haml
  pegasus/sites.v3/code.org/views/theme_common_head_after.haml
Labels: code-hygiene

#59168 Always Install MySQL 8 in Chef
  cookbooks/cdo-mysql/attributes/default.rb
  cookbooks/cdo-mysql/recipes/client.rb
  cookbooks/cdo-mysql/recipes/repo.rb
  cookbooks/cdo-mysql/recipes/server.rb
  cookbooks/cdo-mysql/templates/default/proxysql.cnf.erb
Labels: MySQL Upgrade
