Repository code-dot-org/code-dot-org, pull requests merged in 2025-07, with the labels that each got.

#65572 Update `update_ubuntu` Scripts for Ubuntu 22
  bin/oneoff/update_ubuntu/02-postupdate.sh
Labels: Ubuntu Update

#66841 I18n sync In & Up 07/01
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/blockly-mooc/lab2.json
  i18n/locales/source/course_content/other/allthethings.json
  i18n/locales/source/dashboard/base.yml
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/courses.yml
  i18n/locales/source/dashboard/scripts.yml
Labels: i18n

#66871 [MusicLab] Fixes click-to-scroll focus lock bug by adding tab stop in scrolling region
  apps/src/music/views/SoundsPanel.tsx
Labels: accessibility

#66920 I18n sync In & Up 07/07
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/dashboard/scripts.yml
Labels: i18n

#66926 I18n sync Down & Out 07/07
  apps/i18n/common/az_az.json
  apps/i18n/common/es_es.json
  apps/i18n/common/es_mx.json
  apps/i18n/common/it_it.json
  bin/i18n/crowdin/etags/apps/external_sources.codeorg.json
  bin/i18n/crowdin/etags/apps/labs.codeorg.json
  bin/i18n/crowdin/etags/dashboard/course_content.codeorg.json
  bin/i18n/crowdin/etags/dashboard/curriculum_content.codeorg.json
  bin/i18n/crowdin/etags/dashboard/restricted_content.codeorg-restricted.json
  bin/i18n/crowdin/etags/dashboard/scripts.codeorg.json
  dashboard/config/locales/activity_sections/sk-SK.json
  dashboard/config/locales/activity_sections/sq-AL.json
  dashboard/config/locales/lessons/sk-SK.json
  dashboard/config/locales/lessons/sq-AL.json
  dashboard/config/locales/objectives/sk-SK.json
  dashboard/config/locales/objectives/sq-AL.json
  dashboard/config/locales/resources/sk-SK.json
  dashboard/config/locales/resources/sq-AL.json
  i18n/locales/az-AZ/blockly-mooc/common.json
  i18n/locales/es-ES/blockly-mooc/common.json
  i18n/locales/es-MX/blockly-mooc/common.json
  i18n/locales/it-IT/blockly-mooc/common.json
Labels: i18n

#66994 Update Certs scripts date logic flaw, refusing to update
  aws/cloudformation/update_certs
Labels: infrastructure

#66536 Install Bundled Gems in Deployment Mode
  .github/actions/install-test-variables/action.yml
  .github/workflows/dev_test_docker.yml
  .github/workflows/run_ui_tests.yml
  .gitignore
  bin/oneoff/update_ubuntu/02-postupdate.sh
  config.yml.erb
  cookbooks/Berksfile
  cookbooks/cdo-apps/recipes/bundle_bootstrap.rb
  cookbooks/cdo-nginx/test/cookbooks/nginx_test/recipes/default.rb
  cookbooks/chefignore
  docker/ci/scripts/prepare_ui_tests.sh
  docker/ci/scripts/prepare_unit_tests.sh
  lib/cdo/rake_utils.rb
  locals.yml.default
Labels: Ruby Update

#67257 I18n sync In & Up 07/22
  i18n/locales/source/blockly-mooc/common.json
  i18n/locales/source/dashboard/base.yml
  i18n/locales/source/dashboard/blocks.json
  i18n/locales/source/dashboard/course_offerings.json
  i18n/locales/source/dashboard/courses.yml
  i18n/locales/source/dashboard/scripts.yml
Labels: i18n

#67041 feat(testing): isolate testing to development env per branch
  .github/actions/frontend/marketing/ui-tests/action.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/marketing-app-ci.yml
  frontend/apps/marketing/package.json
  frontend/apps/marketing/tests/e2e/README.md
  frontend/apps/marketing/tests/e2e/all-the-things.spec.ts
  frontend/apps/marketing/tests/e2e/config/path.ts
  frontend/apps/marketing/tests/e2e/pom/all-the-things.ts
  frontend/apps/marketing/tests/e2e/scripts/commands/fork.ts
  frontend/yarn.lock
Labels: All The Things

#64769 add alarm for high frontend memory usage
  aws/cloudformation/components/ami.yml.erb
Labels: infrastructure

#66032 Fixing Files API Content-Distribution CRLF sandbox escape vulnerability
  dashboard/legacy/middleware/files_api.rb
  dashboard/legacy/test/middleware/test_files.rb
  shared/test/fixtures/vcr/files/content_disposition_header_escaping_spaces.yml
  shared/test/fixtures/vcr/files/content_disposition_header_injection.yml
Labels: bug-fix, security

#67392 [All Labs] Overriding default focus states for progress bubbles
  apps/src/templates/progress/styles.scss
Labels: accessibility

#67370 [MusicLab] Timeline Keyboard interaction overhaul
  apps/i18n/music/en_us.json
  apps/src/music/views/Timeline.tsx
  apps/src/music/views/TimelineElement.tsx
  apps/src/music/views/TimelineSampleEvents.jsx
  apps/src/music/views/TimelineSimple2Events.tsx
  dashboard/test/ui/features/star_labs/musiclab/musiclab_drag_block.feature
Labels: accessibility
